
<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8"/>
  <title>{{title}}</title>
      <link rel="stylesheet" href="http://localhost:9000/stylesheets/bootstrap.css">
      <link rel="stylesheet" href="http://localhost:9000/javascripts/bootstrap.js">

      <!-- CSS only -->
  </head>
  <body class="container" style="background-color: #2c3034">

  {{{body}}}

  </body>
</html>
