<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8"/>
  <title>{{title}}</title>
      <link rel="stylesheet" href="http://tsgd:9000/stylesheets/bootstrap.css">
      <link rel="stylesheet" href="http://tsgd:9000/stylesheets/form.css">
      <link rel="stylesheet" href="http://tsgd:9000/stylesheets/newmatch.css">
      <link rel="stylesheet" href="http://tsgd:9000/stylesheets/nix.css">




      <link rel="stylesheet" href="http://tsgd:9000/javascripts/bootstrap.js">

      <!-- CSS only -->
  </head>
<body class="container">


{{{body}}}

</body>
</html>
