<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8"/>
  <title>{{title}}</title>
      <link rel="stylesheet" href="stylesheets/bootstrap.css">
      <link rel="stylesheet" href="stylesheets/form.css">
      <link rel="stylesheet" href="stylesheets/newmatch.css">
      <link rel="stylesheet" href="stylesheets/nix.css">

      <link rel="stylesheet" href="javascripts/bootstrap.js">

      <!-- CSS only -->
  </head>
<body class="container">


{{{body}}}

</body>
</html>
